<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>


</head>
<body>
<h1>Here are posts! {{ name }}</h1>
{{#each posts}}
<ul>
  <li>{{ user }}</li>
  <li> {{ title }}</li>
  <li> {{ text }}</li>
</ul>
{{/each}}

<a href="/"> Add another post</a>
